/* reset */
* {margin: 0; padding: 0;}
li {list-style: none;}
a {color: #333; text-decoration: none;}
.clearfix::before, .clearfix::after {display: block; content: ''; clear: both;}

/* layout */
#wrap {width: 1000px; height: 1000px; margin: 0 auto; }
#header {height: 100px;}
#banner {}
#content1 {}
#content2 {}
#footer {}

/* header */
#header h1 {float: left; padding-top: 5px;}
#header h1 img {width: 130px;}
#header .nav {float: right;}
#header .nav ul {}
#header .nav li {float: left;}
#header .nav li a {display: block; padding: 40px 15px;}

/* banner */
#banner {}
#banner img {width: 100%;}

/* content1 */
#content1 {margin-top: 15px;}
#content1 .notice {float: left; width: 49%; height: 220px; margin-right: 2%; background: #ccc}
#content1 .ad {float: left; width: 49%; margin-right: 0; background: #444}
#content1 .ad img {width: 100%; display: block;}

/* content2 */
#content2 {margin-top: 25px;}
#content2 h2 {margin-bottom: 10px;}
#content2 ul {}
#content2 li {float: left; width: 24.25%; margin-right: 1%;}
#content2 li:last-child {margin-right: 0;}
#content2 li img {width: 100%;}
#content2 li span {display: block; padding: 10px 0;}

/* footer */
#footer {border-top: 1px solid #ccc; margin-top: 30px; padding: 30px 0;}
#footer address {font-style: normal; color: #666;}
#footer address ul {width: 670px;}
#footer address li {position: relative; display: inline; line-height: 1.7;
padding: 0px 15px 0px 10px;}
#footer address li:after {content: ''; width: 1px; height: 13px;
    background: #666; position: absolute; right: 0; top: 0;}
#footer address li.left {padding-left: 0;}
#footer address p {text-transform: uppercase; padding-top: 30px;}














